/* 縦画面の時のスタイル */
@media only screen and (orientation: portrait) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #f8f9fa;
  }

  .rotate-message {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-left: 10%;
    margin-right: 10%;
  }

  .main-content {
    display: none!IMPORTANT;
  }
}

/* 横画面の時のスタイル */
@media only screen and (orientation: landscape) {
  .rotate-message {
    display: none;
  }

  .main-content {
    display: block;
  }
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.no-right-click {
  pointer-events: none;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 16px;
}

p {
  font-size: 14px;
}

.content_area {
  margin-top: 100px;
}

.form_area {
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center; 
  /*border-top: 1px solid #dddddd;*/
  
}

.custom_text_attention {
  color: red;
}

.custom_paragraph_area {
  margin-top: 50px;
}

.custom_max_width {
  max-width: 600px;
}

.custom_checkbox {
    margin-right: 10px;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #dddddd;
}

.custom_button {
  margin-top: 30px;
}

.form_error_message {
    font-size: small;
    color: red;
    margin-top: 5px;
}

.custom_radio_button {
  background-color: #dddddd;
}

.custom_radio_label {
  margin-right: 20px
}


.rating-buttons button {
  margin: 0 5px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.rating-buttons button.selected {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.rating-buttons button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  color: white;
}

.rating-buttons span {
  font-size: small;
}

.checkbox_list_area{
  width: 200px;
  text-align: left;
}

.checkbox_center_area{
  text-align: center;
}

#replay_button{
  margin-top: 30px;
}