{% extends "system_template.html" %}
{% block content %}
<div class="content_area d-flex flex-column align-items-center no-select no-right-click">
  <h1>「想像と体験に関する研究」 の説明書</h1>

  <div class="custom_paragraph_area">
    <p>
      この度は、ご協力いただきありがとうございます。この説明書を読んでから、本研究に参加するかどうかを決めてください。この説明書では、研究の目的と、あなたにお願いすることを説明します。
    </p>
  </div>

  <div class="custom_paragraph_area">
    <h2 class="custom_text_attention">ご注意ください</h2>
    <h2>実験中は、ヘッドホンかイヤホンの装着をお願いします。あらかじめお手元にご用意ください。</h2>
  </div>

  <div class="custom_paragraph_area">
    <h2>研究の目的</h2>
    <p>
      この実験は、人が想像力によって、どこまで体験を作り出せるかを明らかにすることが目的です。想像力の能力には個人差があり、ある人は実際に起きていることのように鮮明に出来事を想像することができますが、そのような鮮明な想像をすることができない人もいます。この実験では、あなたに想像をお願いするよう、いくつかの指示をしますので、それに従って想像をしていただきます。
    </p>
  </div>

  <div class="custom_paragraph_area">
    <h2>参加の任意性</h2>
    <p>
      この研究に参加するかどうかは、あなた自身が決めることです。ご希望であれば、この説明書の画面を印刷して保管していただけます。参加に同意した後、いつでも同意を撤回して研究への参加を中止することができます。
    </p>
  </div>

  <div class="custom_paragraph_area">
    <h2>実験の内容</h2>
    <p>
      実験の前半では、再生される音声に従っていただきます。ヘッドホンかイヤホンを装着して、リラックスできる状態で椅子にお座りください。音声の指示は、あなたに特定の出来事をできるだけはっきりと想像してもらうことが中心となります。この実験がうまくいくかは「想像するように」という指示に従って、あなたが進んで想像し、はっきりとイメージを思い浮かべようとするかどうかにかかっています。
    </p>
    <p>
      実験の後半では、実験の前半に起きたことを記述してもらう他、音声に従って想像することで生じた体験について、６段階評価の質問にいくつか答えていただきます。実験を完了するまでに35分ほどかかります。
    </p>
  </div>

  <div class="custom_paragraph_area">
    <h2>実験参加によるデメリット</h2>
    <p>
      実験参加中に、画面を見たり音声を聞いたりすることによる軽度の疲労が生じる可能性がありますが、パソコンの一般的な利用にともなう疲労と同程度だと考えられます。
    </p>
    <p>
      いかなる理由であれ、あなたはいつでも実験参加を途中で辞退することができます。辞退することは、謝礼を受け取れなくなることを除けば、あなたに何ら不利益をもたらしません。
    </p>
  </div>

  <div class="custom_paragraph_area">
    <h2>個人情報の扱い</h2>
    <p>
      実験中にあなたが提供したデータ（ユーザーID・年齢・性別を含む）は、匿名化されてから統計的に処理されるため、データから個人が特定されることはありません。実験の途中で辞退を希望される場合、それまでに収集されたデータは破棄されます。
    </p>
    <p>
      本実験で収集されたデータは暗証番号つきの電子ファイルで研究実施者が成果発表まで保管し、その後、廃棄します。
    </p>
    <p>
      本実験で収集されたデータは、学術論文や学会発表のために用いられ、公表されることがあります。その場合も、個人が特定されることはありません。
    </p>
    <p>
      2023年6月1日までは、研究実施者にメールを送ることで、データの取り下げを要求することができます。
    </p>
  </div>

  <div class="custom_paragraph_area">
    <h2>倫理審査の承認</h2>
    <p>
      本研究は、北海道大学社会科学実験研究センター(CERSS)の倫理審査委員会の承認を得ています（承認番号 ４年度－１２）。
    </p>
  </div>

  <div class="custom_paragraph_area">
    <h2>研究実施者</h2>
    <p>
      北海道大学人間知・脳・AI研究教育センター　特任講師　鈴木啓介 (ksk@chain.hokudai.ac.jp)
    </p>
    <p>
      お茶の水女子大学人間発達教育科学研究所　准教授　今泉修
    </p>
    <p>
      本研究についてご質問やご懸念がございましたら、鈴木啓介までメールにてご連絡ください。
    </p>
    <p>
      上記の説明をすべてお読みになり、ご理解いただいたうえで本研究への参加に同意していただける方は、以下をチェックして次ページにお進みください。
    </p>
  </div>
</div>


<div class="form_area mt-4 d-flex flex-column align-items-center">
  <form action="/process" method="post" id="form" novalidate>
    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input custom_checkbox" id="consentCheck" required>
      <label class="form-check-label" for="consentCheck">上記の説明について理解し、自らの意思で研究への参加に同意します。</label>
    </div>
    <button type="submit" class="btn btn-primary btn-lg custom_button">次に進む</button>
    <input type="hidden" name="source" value="{{ page_name }}"> <!-- do not delete this -->
  </form>
</div>
{% endblock %}
