{% extends "system_template.html" %}
{% block content %}
<div class="content_area d-flex flex-column align-items-center no-select no-right-click">
  <h2>音声が再生中です</h2>
  <p>（音声を注意深く聞いて、指示にしたがってください）</p>
  <audio autoplay>
    <source src="/static/audio/8_remebering.mp3" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
</div>


<div class="form_area d-flex flex-column align-items-center">
  <form action="/process" method="post" id="form" novalidate>
      {% if display_skip_button %}<button type="submit" class="btn btn-primary btn-lg custom-button"">SKIP</button>{% endif %}
      <button type="submit" class="btn btn-primary btn-lg custom-button" style="display:none;"></button>
      <input type="hidden" name="source" value="{{ page_name }}"> <!-- do not delete this -->
  </form>
</div>
{% endblock %}


{% block custom_end_of_body_area %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    autoPlayAudio('form', true);
    {% if display_skip_button %}focusFirstRequiredElement(false);{% endif %}
  });
</script>
{% endblock %}