{% extends "system_template.html" %}
{% block content %}
<div class="content_area d-flex flex-column align-items-center no-select no-right-click">
  <h2>音声が再生中です</h2>
  <p>（音声を注意深く聞いて、指示にしたがってください）</p>
  <audio id="audio_element" preload="auto">
    <source src="/static/audio/3_beginning_of_hallucination.mp3" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
</div>


<div class="form_area d-flex flex-column align-items-center">
  <form action="/process" method="post" id="form" novalidate>
      {% if display_skip_button %}<button type="submit" class="btn btn-primary btn-lg custom-button"">SKIP</button>{% endif %}
      <button type="submit" class="btn btn-primary btn-lg custom-button" style="display:none;"></button>
      <input type="hidden" name="source" value="{{ page_name }}"> <!-- do not delete this -->
  </form>
  <button id="replay_button" class="btn btn-primary btn-lg custom-button" style="display:none;">音声を再生</button>
</div>
{% endblock %}



{% block custom_end_of_body_area %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    {% if display_skip_button %}focusFirstRequiredElement(false);{% endif %}

    var replayButton = document.getElementById('replay_button');
    var audioElement = document.getElementById('audio_element');
    var reloaded = sessionStorage.getItem('{{ page_name }}_reloaded');

    replayButton.addEventListener('click', function() {
      audioElement.play();
    });

    autoPlayAudio('form', true).then(function() {
        // Audio played successfully
        console.log("Audio played successfully");
    }).catch(function(error) {
        // Auto-play was prevented or failed
        var replayButton = document.getElementById('replay_button');
        replayButton.style.display = 'block';
    });

    if (reloaded) {
      replayButton.style.display = 'block';
    } 
  });
  
  trackPageReload("{{ page_name }}");
</script>
{% endblock %}